
.stopwatch {
    padding: 10px 0px;
    text-align: center;
}
.stopwatch span {
    background: #00aba9;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
}