body {
    background: #2c3e50;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-section {
    background: transparent;
    max-width: 600px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
}

.clock-holder {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    position: relative;
}

.stopwatch {
    padding: 10px 0px;
    text-align: center;
}
.stopwatch span {
    background: #00aba9;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
}

.stopwatch .stopwatch-btn {
    background: rgb(223, 223, 223);
   margin: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    width: 250px;
    transition: background 1s;
    cursor: pointer;
}
.stopwatch .stopwatch-btn-red {
    border: 2px solid #c85454;
    color: #c85454;
    margin: 0 4px;
    padding: 2px;
    border-radius: 5px;
}
.stopwatch .stopwatch-btn-yel {
    border: 2px solid #ffc900;
    color: #ffc900;
    margin: 0 4px;
     padding: 2px;
    border-radius: 5px;
}

.stopwatch .stopwatch-btn-gre {
    border: 2px solid #00aba9;
    color: #00aba9;
    margin: 0 4px;
     padding: 2px;
    border-radius: 5px;
}
.stopwatch .stopwatch-btn-green {
    border: 2px solid #0bd875;
    color: #0bd875;
    margin: 0 4px;
     padding: 2px;
    border-radius: 5px;
}
.stopwatch .stopwatch-btn-red:hover {
    background: #c85454;
    border: 2px solid #c85454;
    color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
    background: #ffc900;
    border: 2px solid #ffc900;
    color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
    background: #00aba9;
    border: 2px solid #00aba9;
    color: #fff;
}
.stopwatch .stopwatch-btn-green:hover {
    background: #0bd875;
    border: 2px solid #00aba9;
    color: #fff;
}
